<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/javascript/app.js"></script>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p1>{{body}}</p1>
        </div>
        {{>footer}}
    </body>
</html>